# .NET
bin/
obj/
*.user
*.suo
*.userprefs
*.nupkg
*.snupkg

# Node.js
node_modules/

# Ruby
.bundle/
vendor/bundle/

# Go
vendor/

# Java
target/
*.class
*.jar
*.war
*.ear
*.log
hs_err_pid*

# C++
build/
*.o
*.exe
*.obj
CMakeCache.txt
CMakeFiles/

# Rust
target/
**/target/
*.rs.bk
Cargo.lock

# General
.DS_Store
Thumbs.db
*.log